/**
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    stylesheet for the main content container
    responsive 
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    it's not done, I have to fix some bugs
*/


/* -------------------------- mobile version ----------------------------------------------- */
@media sceen and (min-width 768px){
    .contentcontainer{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
@media screen and (max-width: 1024px){
    .inner {
        width: 900px;
    }
}

/* -------------------------- content container & more ----------------------------------------------- */
.contentcontainer{
    z-index: 2;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 200;  
    line-height: 2.1428571435;
    background-color: white;
}

.contentcontainer .inner {
    width: 85%;
    max-width: 80em;
    margin: auto;
}

/* -------------------------- Impressum content ----------------------------------------------- */
.zentriert {
    font-size: 18px;
    text-align: center;
}

.block {
    hyphens: auto; 
    text-align: justify
}


/* -------------------------- Gridpane ----------------------------------------------- */
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
  width: 100%;
  border: solid;
  border-color:ghostwhite;
}

/* ---------------------------- animals div ---------------------------------------- */
img {
    width: auto;
    height: 150px;
}

@media all and ( min-width: 600px ) {
  /* set col widths */
  .col-1-3 {
    width: 30%;
  }
}

