/** 
	>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
	stylesheet for footer 
    always at the bottom, but not fixed
	arrangend in three columns
    responsive, arrangement in one column
    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    it's ready!
*/

/* ----------------------------- footer ------------------------*/
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
.footer-distributed{
	background-color: grey;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* footer left */
.footer-distributed .footer-left{
    width: 40%;
}
/* company logo here please */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
.footer-distributed h3 span{
	color:  MediumVioletRed;
}

/* footer left */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-links a{
	display:inline-block;
	margin: 8px;
	line-height: 2.0;
	font-size: 18px;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #cccccc;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* footer center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #cccccc;
	color: rgba(51, 51, 51, 0.72);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  MediumVioletRed;
	text-shadow: 0 0 1.5px silver;
	text-decoration: none;;
}
/* footer right */
.footer-distributed .footer-right{
    width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #cccccc;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
	margin-bottom: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #cccccc;
	border-radius: 2px;
	font-size: 20px;
	color: rgba(51, 51, 51, 0.72);
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* ----------------------------- mobile version ------------------------*/
@media (max-width: 880px) {
	.footer-distributed{
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}